body{
    background-image: url(../img/pattern.jpg);
    margin: 0px;
}

section{
    background-color: honeydew;
    margin: 100px 100px 50px;
    padding: 30px;
    left: 0px;
    right: 0px;
    top: 0px;
}

div{
    background-color: rgb(250, 246, 246);
    display: flex;
    justify-content: space-between;
}

article{
    border-bottom: 2px solid black
}
h1{
    text-align: center;
}

li{
    text-align: center;
}

h3{
    text-decoration: none;
}

a href{
    text-decoration: none;
}

p{
    color: black;
}
ul{
    list-style: none;
}

li{
    margin: 5px;
    display: inline;
}

a{
    text-decoration: none;
}

footer{
    background-color: black;
    padding: 10px;
}   

h5{
    color: rgb(250, 246, 250);
    text-align: center;
}